:root {
  --dark: #a2a2a2;
  --light: #f0f0f0;
  --medium: #cacaca;
  --primary: #fc5185;
  --primary-dark: #f83771;
  --secondary: #364f6b;
  --shadow: rgba(0, 0, 0, .2);

  --box-shadow-thin: 0 0 10px 0 rgba(0, 0, 0, .3);
  --box-shadow-medium: 0 0 15px 0 rgba(0, 0, 0, .3);
  --box-shadow-lg: 0 0 30px 0 rgba(0, 0, 0, .4);

  --transition: all ease-out .2s;
}