/* General */
body,
html {
  font-family: 'Roboto', sans-serif;
  ;
}

/* Header styles */
#header {
  background-color: transparent;
  transition: background ease-out .2s;
  width: 100%;
}

#header .navbar-collapse {
  width: auto;
}

#header .nav-link {
  border-bottom: 4px solid transparent;
  color: var(--bs-dark);
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
}

#header .nav-link:hover {
  border-bottom: 4px solid var(--secondary);
  color: var(--secondary);
}

/* Slider Styles */
.slider {
  background: url(../assets/slider-bg.svg) no-repeat center bottom;
  background-size: contain;
}

.slider h1 {
  font-weight: 900;
  text-transform: uppercase;
}

.slider h4 {
  font-size: 1.125rem;
  text-transform: uppercase;
}