/* General */
body,
html {
  font-family: 'Roboto', sans-serif;
  ;
}

/* Header */
#header {
  background-color: transparent;
  transition: background ease-out .2s;
  width: 100%;
}

.sticky-top {
  background-color: #fff !important;
  box-shadow: var(--box-shadow-thin);
  z-index: 9999;
}

#header .navbar-collapse {
  width: auto;
}

#header .nav-link {
  border-bottom: 4px solid transparent;
  color: var(--bs-dark);
  font-weight: 500;
  text-transform: uppercase;
  padding-left: 0;
  padding-right: 0;
}

#header .nav-link:hover {
  border-bottom: 4px solid var(--secondary);
  color: var(--primary);
}

/* Slider Section*/
#slider {
  background: url(../assets/slider-bg.svg) no-repeat center bottom;
  background-size: contain;
}

#slider h1 {
  font-weight: 900;
  text-transform: uppercase;
}

#slider h4 {
  font-size: 1.125rem;
  text-transform: uppercase;
}

/* Services Section*/

.spotlight {
  background-color: var(--light);
  border-radius: 5px;
  color: var(--bs-dark);
  display: block;
  padding: 1.25rem;
  text-align: center;
  text-decoration: none;
  transition: var(--transition);
}

.spotlight:hover {
  background-color: var(--bs-white);
  box-shadow: var(--box-shadow-thin);
  transform: scale(1.05);
}

.spotlight p {
  color: var(--dark);
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 12.5rem;
}

.img-container img {
  max-height: 10rem;
}

/* Clients Section*/

a.client-link {
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--bs-white);
  border: solid 1px var(--light);
  height: 6.25rem;
  padding: 0 15px;
  transition: var(--transition);
}

a.client-link:hover {
  box-shadow: var(--box-shadow-medium);
  transform: scale(1.2);
}

a.client-link img {
  filter: grayscale(100%);
  max-height: 70px;
  opacity: .5;
  width: 100%;
}

a.client-link:hover img {
  filter: none;
  opacity: 1;
}

.client-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--light);
  border-radius: 5px;
  padding: 30px;
}

.client-img {
  display: flex;
  align-items: center;
  color: var(--dark);
  font-size: 1.5rem;
  line-height: 1.625rem;
  margin-left: -70px;
  padding: 60px 0;
}

.client-img span {
  color: var(--secondary);
  font-size: 6.875rem;
  font-weight: bolder;
  letter-spacing: -10px;
  line-height: 6.875rem;
}

.client-tel {
  display: flex;
  align-items: center;
  color: var(--dark);
  font-size: 0.875rem;
}

.client-tel span {
  color: var(--dark);
  display: block;
  font-size: 1.563rem;
  font-weight: bolder;
}

/* Recent Services Section */

.badge {
  font-weight: 400;
}

.element-item img {
  border-radius: 5px;
  transition: var(--transition);
}

.element-item img:hover {
  box-shadow: var(--box-shadow-lg);
}

.button-group button {
  background: none;
  border: none;
  font-weight: 700;
  margin: 0;
  outline: none;
  padding: 0;
  text-transform: uppercase;
}

.button-group button+button {
  margin-left: 1.875rem;
}

.button-group button.active {
  color: var(--primary);
}

/* Attest Section */

.attest-item {
  background-color: var(--light);
  border-radius: 5px;
  display: flex;
  padding: 1.875rem;
}

.quote {
  max-width: 2.188rem;
}

.name {
  color: var(--dark);
}

.name span {
  color: var(--bs-dark);
}

/* Footer contact field*/

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  background-color: var(--secondary);
  color: var(--bs-white);
  padding: 7.5rem 1.875rem;
  position: relative;
}

.contact img {
  position: absolute;
  left: 1.875rem;
  top: -1.8rem;
}

.contact form {
  display: flex;
  width: 60%;
}

.contact form input {
  background-color: var(--secondary);
  border: 2px solid var(--bs-white);
  border-radius: 5px;
  color: var(--bs-white);
  font-weight: 600;
}

.form-control,
.form-control::placeholder {
  background: none;
  color: var(--bs-white);
}

/* Footer social links */

.social-links {
  max-width: 17rem;
}

.social-links a {
  background-color: transparent;
  color: var(--primary-dark);
  font-size: 2rem;
  transition: var(--transition);
}

.social-links a:not(:last-child) {
  margin-right: 1rem;
}

.social-links a:hover {
  background-color: var(--bs-white);
}

.social-links a i {
  border-bottom: 3px solid transparent;
}

.social-links a i:hover {
  box-shadow: var(--box-shadow-thin);
  border-bottom: 3px solid var(--secondary);
}