/* General */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

/* Margins & Paddings */
.block {
  margin-bottom: 7.5rem;
}

/* Titles */
.title {
  text-transform: uppercase;
}

.sub-title {
  color: var(--dark);
  font-weight: 400;
}

/* Buttons */
.button {
  font-weight: 500;
  text-transform: lowercase;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
}

.button-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--bs-white);
}

.button-primary:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
  color: var(--bs-white);
}

.button-primary-outline {
  border-color: var(--primary);
  color: var(--primary);
}

.button-primary-outline:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
  color: var(--bs-white);
}