/* Min Widths */
@media (min-width: 992px) {
  #header .nav-link {
    margin-left: 0.938rem;
    margin-right: 0.938rem;
  }

  .contact img {
    left: 1rem;
    top: -1.4rem;
    width: 9rem;
  }
}

/* Max Widths */
@media (max-width: 991.98px) {
  #header .navbar-collapse {
    width: 100%;
  }

  .contact h2 {
    font-size: 1.4rem;
    width: 16rem;
  }

  .contact img {
    left: 1rem;
    top: -1.4rem;
    width: 5.625rem;
  }

  .contact form {
    width: 100%;
    flex-direction: column;
  }
}

@media (max-width: 767.98px) {
  .img-container {
    height: 7.5rem;
  }

  .img-container img {
    max-height: 7.5rem;
  }

  .client-img {
    padding: 0.625rem 0 1.875rem 0;
  }

  .client-img img {
    max-width: 9.375rem;
  }

  .contact {
    padding: 3.75rem 1.875rem 3.125rem 1.875rem;
  }

  .contact form {
    width: 100%;
    flex-direction: column;
  }

  .social-links {
    display: contents;
    margin: 40px 20px 0 20px;
  }

  .social-links ul {
    display: contents;
  }
}